<header class="bg-white p-2 flex justify-between items-center border-b">
  <div class="flex items-center ml-header-x">
    <img src="assets/images/Logo1.png" alt="Dai-ichi Life Logo" class="h-12">
  </div>
  
  <div class="flex items-center space-x-4 mr-header-x">
    <button class="bg-primary-yellow text-black px-button-x py-button-y rounded-button hover:bg-yellow-500">Buy A Policy</button>
    <button class="bg-primary-purple text-white px-button-x py-button-y rounded-button hover:bg-purple-800">My Wallet</button>
    <span class="material-icons text-3xl text-gray-600 hover:text-primary-purple cursor-pointer">language</span>
    <button class="bg-white text-gray-custom px-button-x py-button-y rounded-button border hover:bg-gray-100">Login</button>
  </div>
</header>